.card22 {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  height: 500px;
  /* background-color: white; */
  width: 70%;
  box-shadow: 0 10px 20px black;
  background-size: cover;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-family: "Abel", sans-serif;
  margin: 5rem;
}
