body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(93, 85, 163);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: relative;
  top: 2rem;
}

.card1 {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
  box-shadow: 0 10px 20px black;
  background-size: cover;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-family: "Abel", sans-serif;
  margin: 1rem;
}

.card2 {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 70%;
  box-shadow: 0 10px 20px black;
  background-size: cover;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-family: "Abel", sans-serif;
  margin: 5rem;
}

@media (max-width: 560px) {
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 90%;
  }
}

.card1 p {
  font-size: 1.2rem;
  color: white;
}

.aks-form-label a {
  text-decoration: none;
  color: var(--primary);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  margin-right: 5px;
}
.aks-form-label a:hover {
  color: var(--primary-hover);
}
.aks-input[type="text"],
.aks-input[type="email"],
.aks-input[type="password"],
.aks-input[type="date"],
.aks-input[type="number"],
select.aks-input {
  height: 40px;
  width: 50% !important;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
  border: 0.1rem solid #dfe2e6;
  color: #232333;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 6px 12px;
  background: white;
  border-radius: 10px;
  outline: none;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  text-align: left;
}

.aks-input[type="text"]:hover,
.aks-input[type="password"]:hover,
.aks-input[type="email"]:hover,
.aks-input[type="date"]:hover,
.aks-input[type="number"]:hover,
select.aks-input:hover {
  border-color: var(--primary);
}
.aks-input[type="text"]:focus,
.aks-input[type="password"]:focus,
.aks-input[type="email"]:focus,
.aks-input[type="date"]:focus,
.aks-input[type="focus"]:hover,
select.aks-input:focus {
  border-color: var(--primary);
}

.btn-submit {
  padding: 12px 20px;
  border-radius: 4px;
  /* border-radius: var(--border-radius); */
  border: none;
  /* background: var(--primary-color); */
  background: coral;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  transition: 0.2s;
  cursor: pointer;
  color: #080d17;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}
.btn-submit:focus {
  box-shadow: 0px 0px 4px var(--primary-color);
}
.btn-submit:active {
  transform: scale(1.04) translatey(2px);
}
